.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18.5px;
}

.bubble {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #455b3d;
    display: inline-block;
    margin-right: 10px;
    animation: loading 2.5s ease-in-out infinite;
    box-sizing: border-box;
}

@keyframes loading {
    0%, 100% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(1);
    }
}

.bubble:nth-child(0){
    animation-delay: 0s;
}

.bubble:nth-child(1){
    animation-delay: 0.2s;
}

.bubble:nth-child(2){
    animation-delay: 0.4s;
}

.bubble:nth-child(3){
    animation-delay: 0.6s;
}
